extends layout

block content

    div#blocklyDiv(style="position:absolute;")
    form(action="/copy_text" method="POST")
        input(type="submit" value="Submit")
        br
        textarea(id="codeArea" name="codeArea" style="position:absolute; ")

    include block_xml


