script(src='/blockly_compressed.js')
script(src='/python_compressed.js')
script(src='/msg/js/en.js')
// Minecraft block methods
script(src='/minecraft_blocks/minecraft.js')
script(src='/minecraft_blocks/player.js')
script(src='/minecraft_blocks/vectorAttributes.js')
script(src='/minecraft_blocks/setVecAttrTo.js')
script(src='/minecraft_blocks/entity.js')
script(src='/minecraft_blocks/mcBlock.js')
// Google implemented blocks
script(src='/google_blocks/lists.js')
script(src='/google_blocks/logic.js')
script(src='/google_blocks/loops.js')
script(src='/google_blocks/math.js')
script(src='/google_blocks/procedures.js')
script(src='/google_blocks/text.js')
script(src='/google_blocks/variables.js')
script(src='/google_blocks/variables_dynamic.js')
