html {
  height: 100%;
  width: 100%;
}

.row {
  height: 100%;
  width: 100%;
}

#codeArea {
  /* background-color: white; */
  height: 90%;
  width: 100%;
  resize:none;
}

#blocklyDiv {
  height: 600px;
  width: 800px;
}

